*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-height: 50px;
  --edit-text-height: 18px;

  --margin-md: 12px;
  --margin-s: 8px;
  --margin-xs: 4px;

  --color-blue1: #2f404d;
  --color-black1: #10161a;
  --color-green1: #0f9960;
  --color-orange1: #d9822b;
}
