*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-height: 50px;
  --edit-text-height: 18px;

  --margin-xl: 20px;
  --margin-l: 16px;
  --margin-md: 12px;
  --margin-sm: 8px;
  --margin-xs: 4px;

  --color-blue1: #2f404d;
  --color-blue2: #2b95d6;
  --color-blue3: #0e5a8a;
  --color-black1: #10161a;
  --color-green1: #0f9960;
  --color-green2: #15b371;
  --color-orange1: #d9822b;
  --color-orange2: #ffb366;
  --color-red1: #a82a2a;
}
